-# <p id="notice"><%= notice %></p>

%p#notice= notice

.container
  .row
    .col-md-12
      %h1 Tasks
      = link_to 'New Task', new_taskstorage_task_path, class: 'btn btn-primary btn-sm stretched-link', style: 'color: #fff'
    .col-md-12
      %table.table.table-striped
        %thead
          %tr
            %th Title
            %th Body
            %th Lavel importance
            %th Status
            %th End date
            %th{:coldspan  => 3}
          %tbody
            - @tasks.each do |task|
              %td= task.title
              %td= task.body
              %td= task.lavel_importance
              %td= task.status
              %td= task.end_date
              %td= link_to 'Ver', taskstorage_task_path(id: task.id)
              %td= link_to 'Editar', edit_taskstorage_task_path(id: task.id)
              %td= link_to 'Eliminar', taskstorage_task_path(id: task.id), :method => "delete", data: { confirm: 'Are you sure?' }
      %br/
      .col-md-12
        
